
email, address {
   font-family: 'Inconsolata', monospace;
   font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

.main-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  padding: 4px;
}

.anchor {
  padding-top: 90px;
  margin-top: -90px;
}

#tooltip {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.card-img-top {
  height: 5em;
  object-fit: cover;
}

.card-title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.card-text {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.card-research {
  background-color: #2196f3!important;
}

.card-research > .card-footer {
  color: #095fa5;
}

.card-education {
  background-color: #9c27b0!important;
}

.card-education > .card-footer {
  color: #51145c;
}


.card-practice {
  background-color: #e91e63!important;
}

.card-practice > .card-footer {
  color: #950f3b;
}

.card-teaching {
  background-color: #ff9800!important;
}

.card-teaching > .card-footer {
  color: #995c00;
}

.card-other {
  background-color: #9e9e9e!important;
}

.card-other > .card-footer {
  color: #6b6b6b;
}
