
* {
   font-family: 'Inconsolata', monospace;
   font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem!important;
}

.main-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  padding: 4px;
}

.anchor {
  padding-top: 90px;
  margin-top: -90px;
}

#tooltip {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.card-img-top {
  height: 5em;
  object-fit: cover;
}

.card-title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 600;
  font-size: 16px;
}

.card-text {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
  font-size: 12px;
}

.card-research {
  background-color: #34C6CD!important;
  color: white;
}

.card-practice {
  background-color: #F2FD3F!important;
  color: black;
}
